
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: 'Gulfs Display';
  src: url('fonts/GulfsDisplay-Normal.woff') format('woff');
}

header {
  display: flex;
  justify-content: end;
  font-family: "Gulfs Display";
  color: black;
  background-color: #FEB4CD;
}

nav {
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inicial {
  font-family: 'Gulfs Display', sans-serif;
  background-color: #FEB4CD;
  border-bottom: 1px solid black;
  height: 80vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  text-align: center;
}

.titulo {
  color: #0061FF;
  font-size: 90px;
  line-height: 90px;
  z-index: 2;
}

.imagen1 {
  position: absolute;
  bottom: -410px;
  height: 100vh;
  width: 80vh;
  overflow: hidden;
  border-radius: 45%;
  border: 2px solid black;
  z-index: 1;
}

.imagen1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adorno1 {
  position: absolute;
  bottom: -50px;
  right: 970px;
  height: 15vh;
  width: 15vh;
  overflow: hidden;
  border-radius: 45%;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: 1;
}

.adorno1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adorno2 {
  position: absolute;
  align-self: flex-end;
  right: 310px;
  bottom: 210px;
  height: 6.4vh;
  width: 15vh;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: 1;
}

.adorno2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticker {
  position: absolute;
  bottom: -70px;
  right: 270px;
  height: 20vh;
  width: 20vh;
  overflow: hidden;
  border-radius: 45%;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: 1;
  transform: rotate(160deg);
}

.sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen2 {
  position: absolute;
  align-self: baseline;
  bottom: -180px;
  height: 50vh;
  width: 40vh;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid black;
  z-index: 1;
}

.imagen2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen3 {
  position: absolute;
  align-self: flex-end;
  right: 135px;
  bottom: 160px;
  height: 40vh;
  width: 30vh;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid black;
  z-index: 1;
}

.imagen3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme {
  font-family: 'Gulfs Display', sans-serif;
  background-color: #FFF35F;
  border-top: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuimg {
  height: 20px;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}